/* Coolors Exported Palette - https://coolors.co/393e41-82d173-abfaa9-95a3b3-ffb17a */

/* CSS HEX */
--onyx: #393e41ff;
--mantis: #82d173ff;
--light-green: #abfaa9ff;
--cadet-gray: #95a3b3ff;
--sandy-brown: #ffb17aff;

/* CSS HSL */
--onyx: hsla(203, 7%, 24%, 1);
--mantis: hsla(110, 51%, 64%, 1);
--light-green: hsla(119, 89%, 82%, 1);
--cadet-gray: hsla(212, 16%, 64%, 1);
--sandy-brown: hsla(25, 100%, 74%, 1);

/* SCSS HEX */
$onyx: #393e41ff;
$mantis: #82d173ff;
$light-green: #abfaa9ff;
$cadet-gray: #95a3b3ff;
$sandy-brown: #ffb17aff;

/* SCSS HSL */
$onyx: hsla(203, 7%, 24%, 1);
$mantis: hsla(110, 51%, 64%, 1);
$light-green: hsla(119, 89%, 82%, 1);
$cadet-gray: hsla(212, 16%, 64%, 1);
$sandy-brown: hsla(25, 100%, 74%, 1);

/* SCSS RGB */
$onyx: rgba(57, 62, 65, 1);
$mantis: rgba(130, 209, 115, 1);
$light-green: rgba(171, 250, 169, 1);
$cadet-gray: rgba(149, 163, 179, 1);
$sandy-brown: rgba(255, 177, 122, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #393e41ff, #82d173ff, #abfaa9ff, #95a3b3ff, #ffb17aff);
$gradient-right: linear-gradient(90deg, #393e41ff, #82d173ff, #abfaa9ff, #95a3b3ff, #ffb17aff);
$gradient-bottom: linear-gradient(180deg, #393e41ff, #82d173ff, #abfaa9ff, #95a3b3ff, #ffb17aff);
$gradient-left: linear-gradient(270deg, #393e41ff, #82d173ff, #abfaa9ff, #95a3b3ff, #ffb17aff);
$gradient-top-right: linear-gradient(45deg, #393e41ff, #82d173ff, #abfaa9ff, #95a3b3ff, #ffb17aff);
$gradient-bottom-right: linear-gradient(135deg, #393e41ff, #82d173ff, #abfaa9ff, #95a3b3ff, #ffb17aff);
$gradient-top-left: linear-gradient(225deg, #393e41ff, #82d173ff, #abfaa9ff, #95a3b3ff, #ffb17aff);
$gradient-bottom-left: linear-gradient(315deg, #393e41ff, #82d173ff, #abfaa9ff, #95a3b3ff, #ffb17aff);
$gradient-radial: radial-gradient(#393e41ff, #82d173ff, #abfaa9ff, #95a3b3ff, #ffb17aff);