/* Coolors Exported Palette - https://coolors.co/f5fbef-92ad94-748b75-503d42-84c318 */

/* CSS HEX */
--ivory: #f5fbefff;
--cambridge-blue: #92ad94ff;
--reseda-green: #748b75ff;
--rose-ebony: #503d42ff;
--yellow-green: #84c318ff;

/* CSS HSL */
--ivory: hsla(90, 60%, 96%, 1);
--cambridge-blue: hsla(124, 14%, 63%, 1);
--reseda-green: hsla(123, 9%, 50%, 1);
--rose-ebony: hsla(344, 13%, 28%, 1);
--yellow-green: hsla(82, 78%, 43%, 1);

/* SCSS HEX */
$ivory: #f5fbefff;
$cambridge-blue: #92ad94ff;
$reseda-green: #748b75ff;
$rose-ebony: #503d42ff;
$yellow-green: #84c318ff;

/* SCSS HSL */
$ivory: hsla(90, 60%, 96%, 1);
$cambridge-blue: hsla(124, 14%, 63%, 1);
$reseda-green: hsla(123, 9%, 50%, 1);
$rose-ebony: hsla(344, 13%, 28%, 1);
$yellow-green: hsla(82, 78%, 43%, 1);

/* SCSS RGB */
$ivory: rgba(245, 251, 239, 1);
$cambridge-blue: rgba(146, 173, 148, 1);
$reseda-green: rgba(116, 139, 117, 1);
$rose-ebony: rgba(80, 61, 66, 1);
$yellow-green: rgba(132, 195, 24, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f5fbefff, #92ad94ff, #748b75ff, #503d42ff, #84c318ff);
$gradient-right: linear-gradient(90deg, #f5fbefff, #92ad94ff, #748b75ff, #503d42ff, #84c318ff);
$gradient-bottom: linear-gradient(180deg, #f5fbefff, #92ad94ff, #748b75ff, #503d42ff, #84c318ff);
$gradient-left: linear-gradient(270deg, #f5fbefff, #92ad94ff, #748b75ff, #503d42ff, #84c318ff);
$gradient-top-right: linear-gradient(45deg, #f5fbefff, #92ad94ff, #748b75ff, #503d42ff, #84c318ff);
$gradient-bottom-right: linear-gradient(135deg, #f5fbefff, #92ad94ff, #748b75ff, #503d42ff, #84c318ff);
$gradient-top-left: linear-gradient(225deg, #f5fbefff, #92ad94ff, #748b75ff, #503d42ff, #84c318ff);
$gradient-bottom-left: linear-gradient(315deg, #f5fbefff, #92ad94ff, #748b75ff, #503d42ff, #84c318ff);
$gradient-radial: radial-gradient(#f5fbefff, #92ad94ff, #748b75ff, #503d42ff, #84c318ff);